input{
    padding-left: 15px;
    margin-right: 5px;
    border-radius: 5px;
}

button{
    width: 80px;
    margin-right: 10px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(164, 162, 161); 
  color: white;
}

.clear-btn{
    margin-right: 100px;
}