<app-home-navbar></app-home-navbar>

<div class="container mt-4 mb-4">
  <div class="card">


    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log in</p>

    <form class="mx-1 mx-md-4">

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="text" name="userName" [(ngModel)]="username" id="userName" class="form-control">
          <label class="form-label" for="userName">Username</label>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="password" name="password" [(ngModel)]="password" id="password" class="form-control" />
          <label class="form-label" for="password">Password</label>
        </div>
      </div>



      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="button" (click)="onSubmit()" class="btn btn-primary btn-lg">Log In</button>
      </div>

    </form>

  </div>

</div>



<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Warning</h4>
        <button type="button" class="btn-close" (click)="closeLoginModal()" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Incorrect username and password.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="redirectToLogin()" data-bs-dismiss="modal">Ok</button>

      </div>
    </div>
  </div>
</div>