<app-management-nav-bar></app-management-nav-bar>

<body>


  <div class="container">
    <h1>Dish List:</h1>
    <div *ngIf="dishes.length==0">No dishes to display</div>
    <div class="row">
      <div class="row m-1">
        <div class="col-sm-3 mt-2" *ngFor="let dish of dishes">
          <div class="card text-bg-light">
            <img class="card-img-top" src={{dish.imageUrl}} alt="Card image cap" height="250px">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <span class="info">
                    <b (click)="openDishInfoModal(dish)" >{{dish.name}}</b>
                  </span>                  
                </div>
                <div class="col">
                  <div class="d-flex justify-content-end">
                    <a routerLink="/dishes/update/{{dish.id}}" *ngIf="isEnabled" title="Update this dish"><fa-icon
                        [icon]="faEdit" size="2x"></fa-icon></a>
                    <fa-icon *ngIf="isEnabled" (click)="dish.id !== undefined ? openDeleteModal(dish.id) : null"
                      size="2x" [icon]="faTrash" class="icon-delete"></fa-icon>

                  </div>
                </div>
              </div>
            </div>


            <div class="card-footer">
              <p>{{dish.price | currency:'USD'}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal semi-transparent-modal" id="dishInfoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ selectedDish?.name }}</h4>

          <button type="button" class="btn-close" (click)="closeDishInfoModal()"></button>
        </div>
        <div class="modal-body">
          <p>Description: {{ selectedDish?.description }}</p>
          <p>Size: {{ selectedDish?.size }}</p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDishInfoModal()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
          <button type="button" class="btn-close" (click)="closeDeleteModal()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this dish id: {{modalDishId}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="modalDishId !== undefined ? delete(modalDishId) : null"
            data-bs-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" (click)="closeDeleteModal()" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>


</body>