<app-home-navbar></app-home-navbar>
<div class="row">
    <div class="col-6">
        <img src="assets/Untitled8.png" alt="" width="100%">
    </div>
    <div class="col-6">
        <div class="card text-black" style="border: none;">
            <div class="card-body p-5 m-5">
                <div class="row justify-content-center">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 ">Restaurant Management App</p>
                    <p class="text-center">An application for managing restaurants</p>
                    <p class="d-flex justify-content-center align-items-center mt-4">
                        <button type="button" (click)="getStarted()" class="btn btn-outline-dark btn-rounded"
                            style="background-color: rgb(63, 139, 146); color: white;">
                            Get started
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>



