<nav class="navbar navbar-dark bg-dark navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Restaurant Management</a>
        </div>       

        <div id="navbarText">          

            <ul class="nav navbar-nav">
               
                <li>
                    <app-search></app-search>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" href="">Cart(0)</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>


<!-- rgb(226, 226, 147) -->
      