<app-management-nav-bar></app-management-nav-bar>
<div class="container mt-3">
    <div class="card">
    <p class="text-center h3 fw-bold ">Update Dish Info</p>
    <form class="mx-1 mx-md-4" enctype="multipart/form-data">
      <div class="row">
        <div class="col-6">
          <div class="form-outline flex-fill mb-0">
            <input type="text" name="name" [(ngModel)]="dish.name" id="name" class="form-control">
            <label class="form-label" for="name">Dish Name</label>
          </div>       
          <div class="form-outline flex-fill mb-0">
            <input type="text" name="description" [(ngModel)]="dish.description" id="description" class="form-control mt-2"/>
            <label class="form-label" for="description">Description</label>
          </div>
          <div class="form-outline flex-fill mb-0">
            <input type="text" name="size" [(ngModel)]="dish.size" id="size" class="form-control"/>
            <label class="form-label" for="size">Size</label>
          </div>
        </div>
        <div class="col-6">
          
          <div class="form-outline flex-fill mb-0">
            <input type="number" name="price" [(ngModel)]="dish.price" id="price" class="form-control mt-2"/>
            <label class="form-label" for="price">Price</label>
          </div>
          <div class="form-outline flex-fill mb-0">
            <input type="file" name="fileImage" id="fileImage" (change)="onImageSelected($event)" 
            class="form-control mt-3" accept="image/png, image/jpeg"/>
            <label for="fileImage">Picture</label>
          </div>
          <img [src]="imageUrl ? imageUrl : 'assets/dish.png'" alt="Selected Image" 
          class="selected-image" width="120px"/>
        </div>
        <div class="mb-2">
          <button type="button" (click)="onSubmit()" class="btn btn-primary">Save</button>
          <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
        </div>

      </div>

      <div class="modal" id="registerModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Information</h4>
              <button type="button" class="btn-close" (click)="closeRegisterModal()" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              Updated Successfully
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="redirect()" data-bs-dismiss="modal">Ok</button>
                
            </div>  
          </div>
        </div>
      </div>     

    </form>
  </div>
  </div>



