<section class="">
   
    <footer class="text-center text-white" style="background-color: #0a4275;">
     
  
      
      <div class="text-center p-3" style="background-color: #373a3c;">
        <a class="link text-white" href="" target="_blank">Home</a>
        <a class="link text-white" href="" target="_blank">Layouts</a>
        <a class="link text-white" href="" target="_blank">About</a>
        <a class="link text-white" href="" target="_blank">Contact us</a>
      </div>
     
    </footer>

  </section>